.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7px;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}
body {
  background: rgb(177, 234, 231);
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
